@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: rgb(31, 42, 83);
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
	text-align: center;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 25px 5px 25px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #aaaa;
}

.old-profile {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.old-profile input.file {
	margin: 10px 0 0 5px;
	display: block;
	font-family: inherit;
	font-size: 15px;
}

.old-profile img {
	display: flex;
	flex-direction: column;
	width: 30%;
	border-radius: 20px;
}

.old-profile div h4 {
	text-align: center;
	margin-block-start: 0.3em;
	margin-block-end: 0em;
	font-size: 15px;
	padding-top: 3px;
	padding-left: 10px;
	font-weight: 550;
	width: 240px;
	height: auto;
}

.old-profile div h5 {
	text-align: justify;
	margin-block-start: 0.3em;
	margin-block-end: 0em;
	font-size: 13px;
	padding-left: 10px;
	font-weight: 550;
	width: 240px;
	height: auto;
}

.upload-profile-image {
	position: relative;
	width: 100%;
	transition: filter .8s ease;
	display: inline-block;
	justify-content: center;
	text-align: center;
	margin-top: -30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.upload-profile-image:hover {
	filter: drop-shadow(1px 1px 22px #7584bb);
}

.upload-profile-image .upload-image {
	width: 100%;
}

.upload-profile-image .upload-image .camera-icon {
	position: absolute;
	top: 25px;
	left: 41.5%;
	width: 60px !important;
	filter: invert(35%) !important;
}

.upload-profile-image .upload-image .img {
	width: 100px;
	height: 100px;
	border-radius: 10% 10% 80% 80%;
	object-fit: cover;
}

.text-image {
	text-align: center;
	width: 100%;
}

#upload-profile {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100px;
	margin-top: 0px;
	margin-left: -94px;
	opacity: 0;
	padding-top: 10px;
}

#upload-profile::-webkit-file-upload-button {
	visibility: hidden;
}

#upload-profile::before {
	content: ' ';
	display: inline-block;
	width: 100px;
	height: 100px;
	cursor: pointer;
	border-radius: 10% 10% 80% 80%;
}
















.form button {
	background-color: #00288b;
	border: 2px solid rgb(0, 54, 85);
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 3px;
	padding: 10px;
	cursor: pointer;
	margin-top: 20px;
	width: 100%;
}

.form h3 {
	text-align: center;
	font-size: 11.5px;
	color: #333;
	font-weight: 500;
	margin: 10px;
}

.form h3 a {
	text-decoration: none;
	color: #111;
	cursor: pointer;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.success {
	color: #2ed573;
}

.error {
	color: #ff4757;
}