@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

:root {
  --green: #178850;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 10%;
}

.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 30px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #cccccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #888888;

}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: #5c5c5c;
}

/* Header Section Start */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  max-width: 135px;
}

header .navbar a {
  position: relative;
  padding: 3px 13px;
  color: #aaa;
  text-decoration: none;
  font-size: 17px;
  border-radius: 3px;
}

header .navbar a.active {
  content: '';
  width: 70%;
  height: 3px;
  color: #fff;
  background: rgba(255, 0, 0, 0.5);
  transition: 0.5s;
  backdrop-filter: blur(15px);
}


header .navbar a:hover {
  color: white;
}

header .navbar a:after {
  content: '';
  position: absolute;
  right: 50%;
  bottom: 0px;
  width: 80%;
  height: 3px;
  background: red;
  transition: 0.5s;
  transform-origin: 50% 50%;
  transform: translateX(50%) scaleX(0);
}

header .navbar a:hover:after {
  transform: translateX(50%) scaleX(1);
}

header .navbar a.active:hover::after {
  display: none;
}

header .icons {
  display: flex;
  flex-wrap: wrap;
}

header .icons i,
header .icons a,
header .icons .user-img {
  cursor: pointer;
  margin-left: .5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: transparent;
  border-radius: 10%;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: #27ae60;
  border-radius: 50%;
}

header .icons #menu-bars {
  display: none;
}

header .icons .user-img img {
  cursor: pointer;
  margin: 7.8px;
  line-height: 3.5rem;
  height: 3.2rem;
  width: 3.2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: #fff;
  background: transparent;
  border-radius: 100%;
}

header .icons .user-img:hover img {
  transform: scale(1.3);
  border-radius: 15px 15px 3px 3px;
}

header .icons .user-img .dropdown {
  display: none;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -20px;
  width: 150px;
  right: 7%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1000;
}

header .icons .user-img .dropdown a {
  float: none;
  width: 94%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}

header .icons .user-img .dropdown a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 0%;
}

header .icons .user-img:hover .dropdown {
  display: block;
}

/* Home Section Start */
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Assets/Images/aesthetic/home-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.home .content {
  text-align: center;
  margin-top: 200px;
  font-weight: bold;
}

.home .content .text-1 {
  font-family: 'Ephesis', cursive;
  letter-spacing: 5px;
  font-size: 48px;
  color: #eeeeee;
}

.home .content .text-2 {
  font-family: 'Ephesis', cursive;
  letter-spacing: 5px;
  font-size: 50px;
  color: #ffffff;
}

.home .content .btn {
  margin-top: 2rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;
}

.home .content .btn:hover {
  background: var(--green);
  letter-spacing: .1rem;
}

/* About Section Start */
.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 15px;
  align-items: center;
}

.about .row .image {
  flex: 1 1 45rem;
  text-align: center;
}

.about .row .image img {
  width: 40rem;
  padding: 10px 0px;
  border-radius: 25px;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h2 {
  color: #555;
  font-size: 25px;
  padding: 10px 0 0 0;
  text-align: center;
}

.about .row .content p {
  color: #666;
  font-size: 15px;
  line-height: 2;
  margin: 10px 0px;
  text-align: justify;
}

.about .row .content .icons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: .5rem;
}

.about .row .content .icons-container .icons {
  background: #eee;
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 17rem;
  padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i {
  font-size: 2.5rem;
  color: #00aa00;
}

.about .row .content .icons-container .icons span {
  font-size: 1.5rem;
  color: #333;
}

#more {
  display: none;
}

.about #moreBtn {
  display: block;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  align-items: center;
  padding: 8px 0px;
  color: #00aa00;
  background: #eee;
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .5rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.about #moreBtn:hover {
  color: #fff;
  background: #008800;
  border: 1.8px solid rgba(0, 0, 0, 0.3);
  letter-spacing: 3.5px;
}

/* Menu Section Start */
.menu {
  background: #eee;
}

.menu .sub-heading {
  color: #192a56;
}

.menu .select-box {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.menu .select-box .list-menu {
  position: absolute;
  overflow: hidden;
  order: 1;
  z-index: 1;
  opacity: 0;
  width: 300px;
  max-height: 0;
  color: #f5f6fa;
  background: #2f3640;
  border-radius: 8px;
  transition: all 0.4s;
}

.menu .select-box .list-menu.active {
  opacity: 1;
  margin-top: 50px;
  max-height: 240px;
  overflow-y: scroll;
}

.select-box .list-menu.active+.selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.menu .select-box .list-menu::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.menu .select-box .list-menu::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 3px 3px 0;
}

.menu .select-box .list-menu .option {
  padding: 12px 24px;
  cursor: pointer;
}

.menu .select-box .list-menu .option:hover {
  background: #414b57;
}

.menu .select-box .list-menu .option .btn {
  cursor: pointer;
  font-size: 13px;
  color: #fff;
  background: transparent;
}

.menu .select-box .selected {
  order: 0;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  font-weight: 550;
  letter-spacing: 3px;
  color: #f5f6fa;
  background: #2f3640;
  border-radius: 8px;
  padding: 12px 24px;
  margin-bottom: 8px;

}

.menu .select-box .selected::after {
  content: "";
  background: url(../Assets/images/logo/arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 28px;
  right: 10px;
  top: 7px;
  transition: all 0.4s;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box .menu-card {
  background: #fff;
  border: .1rem solid rgba(0, 0, 0, .2);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

.menu .box-container .box .menu-card:hover {
  box-shadow: 5px 5px 13px rgba(0, 0, 0, .5);
}

.menu .box-container .box .menu-card .image {
  height: 25rem;
  width: 100%;
  padding: 8px;
  overflow: hidden;
  position: relative;
}

.menu .box-container .box .menu-card .image img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.menu .box-container .box .menu-card .image .icons {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 10px;
  left: -38px;
}

.menu .box-container .box .menu-card:hover .icons {
  left: 15px;
}

.menu .box-container .box .menu-card .image .icons i,
.menu .box-container .box .menu-card .image .icons button {
  height: 100%;
  width: 50%;
  padding: 5px 0px;
  text-align: center;
  font-size: 2rem;
  color: var(--black);
  border: .1rem solid var(--black);
  border-radius: .5rem;
  background: #fff;
  margin-top: .5rem;
}

.menu .box-container .box .menu-card .image .icons i:hover,
.menu .box-container .box .menu-card .image .icons button:hover {
  transform: scale(1.2);
  background: orange;
  color: #fff;
}

.menu .box-container .box .menu-card .content {
  padding: 13px;
  padding-top: 0;
}

.menu .box-container .box .menu-card .content h3 {
  color: var(--black);
  font-size: 18px;
}

.menu .box-container .box .menu-card .content .price {
  color: #27ae60;
  font-size: 15px;
  font-weight: 700;
}

.menu .btn-showmore {
  outline: none;
}

.menu .btn-showmore .showmore {
  display: block;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  align-items: center;
  padding: 7px 0px;
  color: #192a56;
  background: #fff;
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .5rem;
  margin: 17px 0px 10px 0px;
  cursor: pointer;
}

.menu .btn-showmore .showmore:hover {
  color: #fff;
  background: #008800;
  border: 1.8px solid rgba(0, 0, 0, 0.3);
  letter-spacing: 3.5px;
}

/* Menu Popup-View */
.menu .box-container .box .popup-view {
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.menu .box-container .box .popup-view.active {
  opacity: 1;
  visibility: visible;
}

.menu .box-container .box .popup-card {
  position: relative;
  display: flex;
  width: 70%;
  height: 400px;
  margin: 20px;
}

.menu .box-container .box .popup-card .product-img {
  z-index: 2;
  background: #1D212B;
  box-shadow: 0px 0px 8px 5px white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 88%;
  transform: translateY(25px);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.menu .box-container .box .popup-card .product-img img {
  z-index: 2;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px
}

.menu .box-container .box .popup-card .info {
  z-index: 2;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
}

.menu .box-container .box .popup-card .close-btn {
  text-align: center;
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.menu .box-container .box .popup-card .close-btn:hover {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
}

.menu .box-container .box .popup-card .info h2 {
  font-size: 40px;
  line-height: 40px;
  margin: 10px;
}

.menu .box-container .box .popup-card .info h2 span {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: left;
}

.menu .box-container .box .popup-card .info p {
  font-size: 17px;
  margin: 10px;
  text-align: justify;
}

.menu .box-container .box .popup-card .info .price {
  font-size: 25px;
  font-weight: 650;
  margin: 10px;
}

.menu .box-container .box .popup-card .info .add-card-wish {
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0px;
  border-radius: 20px;
  justify-content: center;

}

.menu .box-container .box .popup-card .info .add-card-wish .add-cart-btn {
  color: #fff;
  background: red;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px 5px;
  padding: 8px 15px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}


/* Review Section Start */
.review {
  background: #fff;
}

.review .review-slider {
  display: flex;
  flex-shrink: 0;
  background: #fff;
  padding: 90px 0px 20px 0px;
  overflow: hidden;
}

.review .review-slider .swiper-wrapper {
  height: auto;
}

.review .review-slider .swiper-wrapper .card {
  margin-right: 10px;
  background: #eee;
  width: 345px;
  height: 250px;
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .3);
  box-shadow: var(--box-shadow);
  position: relative;
  text-align: center;
}

.review .review-slider .swiper-wrapper .card .profile-image img {
  z-index: 1;
  width: 110px;
  height: 110px;
  position: relative;
  margin-top: -60px;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 5px solid #fff;
  transition-duration: 0.4s;
}

.review .review-slider .swiper-wrapper .card .card-content {
  padding: 10px 8px 15px 8px;
}

.review .review-slider .swiper-wrapper .card .card-content h3 {
  font-size: 22px;
  text-align: center;
  margin: 0;
}

.review .review-slider .swiper-wrapper .card .card-content .stars {
  font-size: 1.3rem;
  padding: 3px 0px;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #27ae60;
}


.review .review-slider .swiper-wrapper .card .card-content p {
  font-size: 13px;
  text-align: justify;
  padding: 5px 20px 7px 20px;
}

.review .review-slider .swiper-wrapper .card:hover,
.review .review-slider .swiper-wrapper .card:hover .card-content {
  transform: translateY(-8px);
}

.review .review-slider .swiper-wrapper .card:hover .profile-image img {
  transform: translateY(-8px) scale(1.1);
}

.review .swiper-pagination {
  text-align: center;
  position: relative;
  margin-top: 10px;
  z-index: 1;

}

/* Contact Section Start */
.contact {
  background: #eee;

}

.contact .sub-heading {
  color: #192a56;
}

.contact .container {
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.contact .container .content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--black);
}

.contact .container .content .left-side .details {
  margin: 14px;
  text-align: center;
}

.contact .container .content .left-side .details i {
  font-size: 30px;
  color: #005588;
  margin-bottom: 10px;
}

.contact .container .content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.contact .container .content .left-side .details .text-one,
.contact .container .content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.contact .container .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.contact .container .content .right-side .topic-text {
  font-size: 23px;
  font-weight: 800;
  color: var(--black);

  padding: 0px 3px;
}

.contact .container .content .right-side p {
  font-size: 13px;
  font-weight: 600;
  color: #666;
  padding: 5px 3px;
}

.contact .container .content .right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.contact .container .content .right-side .input-box input,
.contact .container .content .right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.contact .container .content .right-side .message-box {
  min-height: 110px;
}

.contact .container .content .right-side .input-box textarea {
  padding-top: 6px;
}

.contact .container .content .right-side .button {
  display: inline-block;
  margin-top: 12px;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #005588;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .container .content .right-side .button:hover {
  background: #003355;
}




/* Footer Section Start */
footer {
  background: #101522;
  color: #eee;
  font-size: 14px;
}

footer .footer-bottom {
  padding: 13px 0px;
}

footer .footer-bottom .copyright {
  text-align: center;
  font-size: 13px;
}

footer .footer-bottom .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

footer .footer-bottom a {
  font-size: 13.5px;
  font-weight: bold;
  color: rgb(255, 50, 50);
  transition: 0.5s;
}

/* Back-To-Top Section Start */
.back-to-top {
  position: fixed;
  z-index: 5;
  display: none;
  background: rgba(255, 0, 0, 0.7);
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;
}

.back-to-top i {
  font-size: 24px;
  padding-top: 6px;
}

.back-to-top:focus {
  background: rgba(255, 0, 0, 0.8);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: red;
  color: #fff;
}

/* Media Queries  */
@media (max-width:991px) {

  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  header .icons #user .dropdown {
    width: 110px;
    right: 0%;
  }

  header .icons #user .dropdown a {
    width: 103px;
  }

  header .logo {
    max-width: 115px;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width:768px) {

  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(110, 110, 110);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    padding: 3px 8px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    text-align: center;
    color: black;
    display: block;
    padding: 7px;
    margin: 5px 0px;
    font-size: 15px;
    font-weight: 550;
    background: #eee;
  }

  header .navbar a.active {
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0, 150, 0, 0.8);
    transition: 0.5s;
  }


  header .navbar a:hover {
    color: #fff;
    background: rgba(0, 150, 0, 0.8);
  }

  header .navbar a:after {
    display: none;
  }



  .back-to-top {
    bottom: 15px;
    width: 40px;
    height: 40px;
  }

  .back-to-top i {
    font-size: 23px;
    padding-top: 7px;
  }

  .menu .box-container .box .popup-card {
    flex-direction: column;
    width: 550px;
    height: auto;
  }

  .menu .box-container .box .popup-card .product-img {
    z-index: 3;
    width: 100%;
    height: 200px;
    box-shadow: none;
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .menu .box-container .box .popup-card .product-img img {
    left: initial;
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .menu .box-container .box .popup-card .info {
    width: 100%;
    height: auto;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .menu .box-container .box .popup-card .info h2 {
    margin: 20px 5px 5px 5px;
    font-size: 25px;
  }

  .menu .box-container .box .popup-card .info h2 span {
    font-size: 20px;
  }

  .menu .box-container .box .popup-card .info p {
    margin: 5px;
    font-size: 15px;
  }

  .menu .box-container .box .popup-card .info .price {
    margin: 10px 0px;
    font-size: 23px;
  }

  .menu .box-container .box .popup-card .info .add-cart-wish {
    display: block;
  }

  .menu .box-container .box .popup-card .info .add-cart-wish .add-cart-btn {
    font-size: 14px;
    width: 100%;
    border-radius: 0px;
  }

  .menu .box-container .box .popup-card .close-btn {
    margin: 10px;
    z-index: 4;
    color: white;
    padding: 10px 13px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
  }

  .contact .container {
    height: 100%;
    padding: 20px 40px 30px 40px;
  }

  .contact .container .content {
    flex-direction: column-reverse;
  }

  .contact .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-left: 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact .container .content .left-side::before {
    display: none;
  }

  .contact .container .content .right-side {
    width: 100%;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact .container .content .right-side .topic-text {
    margin-bottom: 3px;
    text-align: center;
    align-items: center;
  }


  .contact .container .content .right-side .button {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contact .container .content .right-side p {
    text-align: justify;
    margin: 0;
  }
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }
}

/* Loader Section Starts */
/* .loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader-container img {
  width: 35rem;
}

.loader-container.fade-out {
  top: -110%;
  opacity: 0;
} */
error {
  font-size: 28;
  color: #ff4757;
}